<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>路过音乐的私人博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="路过音乐 QQ532590979">
    <link rel="shortcup icon" href="/images/icon/bitbug_favicon.ico">
    <!-- <link rel="stylesheet" type="text/css" href="/css/default.css"> -->
    <style>
        li{
            display:inline;
            font-family: fantasy;
            font-size: 30px  ;
            padding: 0 ;
            margin-left: 40px
        }
    </style>
</head>
<body>
    <div class='head'>
        <h1>路过音乐 https://www.lgyysblog.com</h1>
    </div>
    <div class="container" style="background-color: rgb(112, 205, 236)">
        <ul>
            <li>首页</li>
            <li>个人原创</li>
            <li>他人经典</li>
            <li>娱乐</li>
            <li>其它</li>
        </ul>
    </div>
    <hr>
    <hr>
    <div style="height: 20cm; width: 30cm">
        
        {{content}}
    
    
    
    
    
    </div>
    

    <div>
    <footer class="foot">
        <div class="copyright" style="text-align:center"> © 路过音乐 2018 - </div>
    </footer>
    </div>
</body>
</html>
