<!-- 首页及其他页面的布局-Layout -->
<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-sclable=0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="个人搭建的博客，欢迎来访！" />
        <meta name="keywords" content="路过音乐，数据结构，算法，地震波，微游戏" />
        <link rel="stylesheet" href="/assets/css/style.css">
        <link rel="stylesheet" href="/assets/css/media.css">
        <link rel="stylesheet" href="/assets/css/animate.min.css">
        <link rel="stylesheet" href="/assets/css/pygments/pygments_{{ site.pygmentsTheme }}.css">
        <link rel="stylesheet" href="/assets/css/github-markdown.css">
        <!-- SNS-icon -->
        <script src="/assets/fonts/sns/iconfont.js"></script>
        <!-- share.css -->
        <link rel="stylesheet" href="/assets/css/share.min.css">
        <!-- font -->
        <link rel="stylesheet" href="/assets/css/font.css">
        <!-- Favicon -->
        <link href="/assets/bitbug_favicon.ico" rel="shortcut icon" />
        <link href="/assets/bitbug_favicon.ico" rel="apple-touch-icon-precomposed" />
        <!-- Android Lolipop Theme Color -->
        <!-- <meta name="theme-color" content="#1464FB"> -->
        <title>{{ site.title }}</title>
        <!-- 百度统计 -->
        {% if site.baidu %}
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?{{ site.baidu-url }}";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
        {% endif %}
        <!-- 谷歌分析 -->
        {% if site.google %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ google-ID }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', '{{ google-ID }}');
        </script>
        {% endif %}
        
</head>
<body>
<!-- 页面主体 -->
{{ content }}

<!-- 引用wow.js的动画效果 -->
<script src="/assets/js/wow.js"></script>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        // offset: 5,
        mobile: true,
        live: true
    });
    wow.init();
</script>
<!-- 页面刷新回到顶部 -->
<script>
    window.onbeforeunload = function(){
        //刷新后页面自动回到顶部
        document.documentElement.scrollTop = 0;  //ie下
        document.body.scrollTop = 0;  //非ie
    }
</script>

</body>
</html>
